$global-color: #d8dee9;
$global-emphasis-color: #e5e9f0;
$global-muted-color: #e5e9f0;

$global-link-color: #5e81ac;
$global-link-hover-color: #88c0d0;

$global-background: #2e3440;
$global-muted-background: #3b4252;
$global-primary-background: #5e81ac;
$global-secondary-background: #4c566a;

$global-success-background: #a3be8c;
$global-warning-background: #d08770;
$global-danger-background: #bf616a;

$button-primary-background: #5e81ac;
$progress-bar-background: #5e81ac;

$form-radio-background: $global-secondary-background;

$form-select-option-color: $global-muted-color;

$form-range-track-background: $global-link-color;
$form-range-track-focus-background: $global-link-hover-color;

@import "./uikit-base.scss";
