$global-color: #4C566A;
$global-emphasis-color: #434C5E;
$global-muted-color: #434C5E;

$global-link-color: #5e81ac;
$global-link-hover-color: #88c0d0;

$global-background: #f7f8f9;
$global-muted-background: #D8DEE9;
$global-primary-background: #88C0D0;
$global-secondary-background: #D8DEE9;

$global-success-background: #a3be8c;
$global-warning-background: #d08770;
$global-danger-background: #bf616a;

$subnav-pill-item-active-color: $global-emphasis-color;
$button-primary-background: #5e81ac;
$progress-bar-background: #5e81ac;

$form-select-option-color: $global-muted-color;
$form-range-track-background: $global-link-color;
$form-range-track-focus-background: $global-link-hover-color;

@import "./uikit-base.scss";